.justify_body{
    margin-left: 3rem;
}
.first_content{
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.Advanced_tools{
    display: flex;
    gap:20px;
    position: relative;
}
.Product_img >img{
    width: 100%;
}


.justify_text_value{
    line-height: 4;
}
.footer{
    background-color: black;
    height:300px;
    max-width: 100%;
    color:white;
    font-size: 0.9rem;
    line-height: 2.3;
    padding-top:2%;
}
.support_footer{
    display: flex;
    gap:8rem;
}
.support_footer ul li{
    color:white;
}
.bold{
    font-weight: bold;
}
.support_footer ul:nth-child(2) li:not(:first-child) a,.support_footer ul:nth-child(3) li:not(:first-child) a{
    color: #7e7e7e;
    font-size: 0.8rem;
    cursor: pointer;
}
.support_footer ul:nth-child(2) li:not(:first-child) a:hover,.support_footer ul:nth-child(3) li:not(:first-child) a:hover{
    color: white;
}
.contact{
    display: flex;
    justify-content: flex-end;
    gap:1.5rem;
    margin-left: 28%;
}
.icon_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #7e7e7e;
    font-size: 20px;
}.icon_contact:hover{
    background-color: white;
}
.contact .icon_contact i{
    color:black;
}
.Info{
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.8rem;
}
.copyright{
    display: flex;
    justify-content: flex-start;
    gap:1rem;
    margin-left: 1.5rem;
}
.copyright i{
    color: white;
}
.copyright a:nth-child(2){
    color: white;
}
.copyright p{
    color: #7e7e7e;
}
.policy{
    display: flex;
    justify-content: flex-end;
    gap:2rem;
    margin-right:2rem;
}
.policy li{
    color: #7e7e7e;
    cursor: pointer;
}
.policy li:hover{
    color:white;
}