.justify_body{
    margin-left: 3rem;
}
.first_content{
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.Advanced_tools{
    display: flex;
    gap:20px;
    position: relative;
}
.Product_img >img{
    width: 100%;
}


.justify_text_value{
    line-height: 4;
}
